/* root properties */

:root {
    --body-background: hsl(226, 43%, 10%);
    --card-body: hsl(235, 46%, 20%);
    --owner-card: hsl(246, 80%, 60%);
    --color: white;
    --light-color: hsl(235, 45%, 61%);
    --lighter-color: hsl(236, 100%, 87%);
    --header-work: hsl(15, 100%, 70%);
    --header-play: hsl(195, 74%, 62%);
    --header-study: hsl(348, 100%, 68%);
    --header-exercise: hsl(145, 58%, 55%);
    --header-social: hsl(264, 64%, 52%);
    --header-self: hsl(43, 84%, 65%);
    --padding-col: 0 10px;
    --margin-row: 0 -10px;
    --border-radius: 20px;
}

/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', serif;
}

/* generici */

body {
    background-color: var(--body-background);
}

h1, 
h2,
h3,
h4 {
    color: var(--color);
}

/* container */

.container {
    padding: 80px 20px;
}

/* card del proprietario */

.owner-card {
    background-color: var(--owner-card);
}